<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Running Race</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            margin-bottom: 50px;
        }
        a {
            text-decoration: none;
            color: black;
            padding: .5em 1em;
            border-radius: 20px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        a:hover {
            background-color: rgba(150, 150, 150, .6);
        }
        h3, div {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>SUPER RUNNING RACE</h1>
    <h2><a href="/register">Register Now</a></h2>
    <h3>Are you registered already?</h3>
    <span>Here are some useful informations about the race: </span>
    <a href="/informations"> Informations</a>
</body>
</html>