<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race Registration</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            margin-bottom: 50px;
        }
        a {
            text-decoration: none;
            color: black;
            padding: .5em 1em;
            border-radius: 20px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        a:hover {
            background-color: rgba(150, 150, 150, .6);
        }
        h3, div {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>Informations</h1>
    <p>* TEXT HERE *</p>
    <a href="/">Home</a>
</body>
</html>